<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907478894716-3cqet10qg0mqmkj761qsbb8use2d017u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907478894716-3cqet10qg0mqmkj761qsbb8use2d017u</string>
	<key>API_KEY</key>
	<string>AIzaSyCnnHHpDmZDCIywk7BMg4Y32ttV7nEOnsM</string>
	<key>GCM_SENDER_ID</key>
	<string>907478894716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ao.com.tchernichevisk.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-ff378</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-ff378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907478894716:ios:945c0776ee6f8c6c1421f9</string>
	<key>DATABASE_URL</key>
	<string>https://loja-virtual-ff378.firebaseio.com</string>
</dict>
</plist>